<header class="siteheader">
    <div class="logo">
        <i class='bx bxs-cat logoicon'></i>
        Cat<span class="logopart2">Lovers</span>                
    </div>  
    <nav>
      <ul class="navmenu">
        <li><a routerLink="products" class="headeranchor" routerLinkActive="active" >Products</a></li>
        <li><a class="headeranchor" href="#about" routerLinkActive="active">About</a></li>
        <li><a class="headeranchor" href="#contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </header>
  
